body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    
    font-family: Helvetica;
    background: radial-gradient(#e66465, #9198e5);
    color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: none;
    color: white;
    cursor: pointer;
}

button:active {
    border: 1px solid black;
    color: white;
}

.titulo {
    font-size: 100px;
}

.subtitulo {
    font-size: 40px;
}

.numeros button {
    width: 100px;
    height: 100px;
    font-size: 32px;
    background-color: rgb(59, 118, 255);
}

.numeros button.selecionado {
    background-color: rgb(27, 50, 104);
}

.acao {
    display: flex;
}

.acao button {
    width: 200px;
    height: 100px;
    font-size: 32px;
    color: white;
}

.acao button.sortear {
    background-color: yellowgreen;
}

.acao button.resetar {
    margin-left: 40px;
    background-color: firebrick;
}

.acao button.inserirCreditos {
    margin-left: 40px;
    background-color: rgb(27, 50, 104);
}



.acao button div.subtitulo-btn {
    font-size: 22px;
}

.display {
    font-size: 100px;
}

.resultado {
    font-size: 40px;
}